#img-gallery-view figure {
  display: inline-block;
  margin: 0.2em; 
  border: 0;
  padding: 0;
  width: 16em;
  height: 12em;
}

#img-gallery-view figure a {
  text-decoration: none;
}

#img-gallery-view figure a:hover {
  text-decoration: underline;
}

#img-gallery-view figure div {
  width: 100%;
  height: calc(100% - 1em);
  background-size: 2em;
  background-position: center;
  vertical-align: middle;
  position: relative;
}

#img-gallery-view figure img,
#img-gallery-view figure audio,
#img-gallery-view figure video {
  position: absolute;
  display: block;
  margin: auto;
  border: 0;
  padding: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}

#img-gallery-view figure span {
  display: block;
  margin: auto;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

#img-list-view figure {
  margin-left: 0;
  margin-right: 0;
}

#img-list-view figure img,
#img-list-view figure audio,
#img-list-view figure video {
  max-width: 100%;
  max-height: 95vh;
}
